<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title || 'FutKui - Ứng Dụng Chat Đội Thể Thao' %></title>
<meta
  name="description"
  content="<%= description || 'FutKui kết nối các đội thể thao và câu lạc bộ với chat thời gian thực, chia sẻ hình ảnh và quản lý nhóm dễ dàng. Hoàn hảo cho giao tiếp đội nhóm.' %>"
/>
<meta
  name="keywords"
  content="FutKui, ứng dụng chat thể thao, quản lý đội bóng, quản lý câu lạc bộ thể thao, chat nhóm thể thao, giao tiếp đội nhóm, quản lý đội cầu lông, giao lưu pickleball, điểm danh đá bóng "
/>
<link rel="stylesheet" href="/public/dist/styles.css" />
